whusap/Service References/SendMailService/SendMailService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SendMailService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SendMailService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61135/SendMailService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net.Mail" />
  <xs:complexType name="Email">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net.Mail" minOccurs="0" name="Attachments" nillable="true" type="q1:ArrayOfAttachment" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CC" nillable="true" type="tns:ArrayOfEmailAccount" />
      <xs:element minOccurs="0" name="From" nillable="true" type="tns:EmailAccount" />
      <xs:element minOccurs="0" name="Singature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" nillable="true" type="tns:ArrayOfEmailAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Email" nillable="true" type="tns:Email" />
  <xs:complexType name="ArrayOfEmailAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailAccount" nillable="true" type="tns:EmailAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailAccount" nillable="true" type="tns:ArrayOfEmailAccount" />
  <xs:complexType name="EmailAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailAccount" nillable="true" type="tns:EmailAccount" />
</xs:schema>