Backup/whusap/Service References/ServiceReference1/ServicioPrueba.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/whusa.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/whusa.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ent_tticol125">
    <xs:sequence>
      <xs:element minOccurs="0" name="pdno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pono" type="xs:int" />
      <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cwar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reqt" type="xs:int" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prin" type="xs:int" />
      <xs:element minOccurs="0" name="conf" type="xs:int" />
      <xs:element minOccurs="0" name="refcntd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="refcntu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idrecord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ent_tticol125" nillable="true" type="tns:Ent_tticol125" />
  <xs:complexType name="ArrayOfEnt_tticol125">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ent_tticol125" nillable="true" type="tns:Ent_tticol125" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnt_tticol125" nillable="true" type="tns:ArrayOfEnt_tticol125" />
</xs:schema>